@page
@model WebApplication1.Pages.Mitarbeiter.CreateModel

<h2>Mitarbeiter Hinzufügen</h2>

@if (Model.fehlerMeldung.Length > 0)
{
    <h2 style="color:red">@Model.fehlerMeldung</h2>
}

<form method="post">
    <div class="form-group">
        <label for="vorname">Vorname:</label>
        <input type="text" class="form-control" name="vorname" placeholder="Vorname eingeben" value="@Model.mitarbeiterInfo.Vorname">
    </div>
    <br />
    <div class="form-group">
        <label for="nachname">Nachname:</label>
        <input type="text" class="form-control" name="nachname" placeholder="Nachname eingeben" value="@Model.mitarbeiterInfo.Nachname">
    </div>
    <br />
    <div class="form-group">
        <label for="abteilungID">Abteilung ID:</label>
        <input type="text" class="form-control" name="abteilungID" placeholder="Abteilung ID eingeben" value="@Model.mitarbeiterInfo.AbteilungID">
    </div>

    @if (Model.erfolgMeldung.Length > 0)
    {
        <h2 style="color:green">@Model.erfolgMeldung</h2>
    }

    <br />
    <button type="submit" class="btn btn-secondary">Eingeben</button>
</form>
